[2016-11-12 00:12] fYaH-r0ze opened #1 "Support for MacOS"
I'm getting an error with the Bluetooth-hci-socket about operating system not supported

[2016-11-12 00:22] fYaH-r0ze commented on #1
I'm using macOS 10.12.

[2016-11-12 00:45] vojtamolda commented on #1
Hello!
Thanks for opening the 1st issue :) Does your mac have built-in support for Bluetooth 4.0 (Low Energy)?

[2016-11-12 00:56] fYaH-r0ze commented on #1
Well I use a lot of BLE devices with my mac, so I believe it should have built in support. It's pretty new and works with handoff etc so, yes it does have built in BLE support

[2016-11-12 01:03] fYaH-r0ze commented on #1
installing Noble throws the following:

sudo npm install -g noble
Password:
/usr/local/lib
└── noble@1.7.0

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: bluetooth-hci-socket@^0.5.1 (node_modules/noble/node_modules/bluetooth-hci-socket):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for bluetooth-hci-socket@0.5.1: wanted {"os":"linux,android,win32","arch":"any"} (current: {"

[2016-11-12 15:57] vojtamolda commented on #1
Hmm... That's puzzling. I'm not very familiar with _noble_ internals and I saw you already opened an issue there, so hopefully Sandeep will be able to help. Everything installs fine on my macOS 10.12, but _npm_ skips optional dependency to _bluetooth-hci-socket_.

![npm-install-noble](https://cloud.githubusercontent.com/assets/8467740/20239064/bcd8b052-a8bd-11e6-8bc7-b6ea1799d337.png)

BTW, You ca

[2016-11-13 01:33] fYaH-r0ze commented on #1
Hmm ok. I'm still figuring this out, but I think the bluetooth part is working now. I'm still trying to understand how the whole plugin stuff works though.

I'm trying to get this to work with a BLE accessory that I created based on the MBed platform. Would you mind being contacted to lend some help?

[2016-11-13 01:33] #1 closed, assigned to vojtamolda

[2016-11-13 03:43] fYaH-r0ze opened #2 "Issue with initializing accessory"
Good Day,

After some reinstalls of homebridge I was able to get your plugin installed. However, I seems to be getting the following error when running home bridge with your accessory sample:

[code]

Any thoughts?

[2016-11-14 00:09] vojtamolda commented on #2
Hello @fallenfate1982,

Please, bear with me for a moment. You're one of the first users of this plugin, so there are still some rough edges to work on. The whole thing is my side project and I work on it whenever my wife lets me out of the leash 😃 The first official [version on npm](https://www.npmjs.com/package/homebridge-bluetooth) - `0.0.0` is a snapshot of an essentially empty repository and

[2016-11-14 01:13] fYaH-r0ze commented on #2
LOL ok, I understand.

I did end up spending a good bit of time reworking the one from npm install.

I don't know if you're using a mac and solved this issue, but I can't seem to get the write to BLE to work even if I do it directly from noble. Mind you, all else is working fine now -detect, read of the characteristics etc.

The write works if I use light blue or the companion app I developed for

[2016-11-14 16:42] vojtamolda commented on #2
I apologize for the trouble - the problem you're having is resolved in the `0.1.0` version. I published it to [npm](https://www.npmjs.com/package/homebridge-bluetooth) yesterday evening.

The best way to get started is to take a look into the [refreshed examples](https://github.com/vojtamolda/homebridge-bluetooth/blob/master/examples/) directory. If you're familiar with writing/reading BLE charact

[2016-11-14 16:45] fYaH-r0ze commented on #2
OK, does your stuff use noble to do the writes to the BLE device? It seemed that way which is why I was investigating noble.

[2016-11-14 16:47] fYaH-r0ze commented on #2
OK it seems that it does use noble. I'll still check it out and see if it works through your code.

[2016-11-14 16:54] vojtamolda commented on #2
Correct. It uses _noble_ exclusively for all the Bluetooth business.

[2016-11-14 16:58] fYaH-r0ze commented on #2
Hmm ok, did you test it on : Macbook Air (2015) & iMac (2012) running macOS 10.12?

I see these listed. I'm also on macOS 10.12, but noble does not seem to write.

I also see you are using the standard write with response? Do you know if that would make a difference? Currently it seems that I implemented my device firmware with write without response.

[2016-11-14 17:31] vojtamolda commented on #2
I tested it on iMac 10.12, but the Macbook Air was 10.11 at the time (it was some time ago), but I don't think your issue is caused by the slight differences between 10.11 and 10.12

The call to _noble_ `write(...)` API is in [`source/characteristic.js`](https://github.com/vojtamolda/homebridge-bluetooth/blob/master/source/characteristic.js#L91) and it's done with `withoutResponse = false`.

[2016-11-23 21:41] fYaH-r0ze commented on #2
Hey, I was finally able to test your code today. The write seems to work fine now with some tweaks for my devices (have no idea why it still won't work from Noble Directly, I think it may be the encoding - yours is quite a bit more elegant).

I have a new problem that is related to initializing the accessory. It seems to do this sometimes. It will work fine for a couple on/offs from the home kit a

[2016-11-23 22:13] vojtamolda commented on #2
Hello @fallenfate1982,

I've never encountered this error behavior before. Did you try the usual business of deleting the `persist` directory inside of `~/.homebridge/` folder? It might be caused by some leftover configs that always happen during development. Homebridge has a session-to-session persist mechanism that causes all kinds of weird trouble.

What version of the plugin are you using?

BT

[2016-11-24 22:24] fYaH-r0ze commented on #2
LOL - yeah I had some of my debug stuff in there while I was trying to learn how your code works.

I tried your suggestion, didn't help.

Everything should be the latest versions as of last week when you said that you published the new update.

What I'm seeing is that the issue is two part :
1. The issue of the accessory not getting the command is definitely based on BLE's range and should be rela

[2016-11-28 17:10] vojtamolda commented on #2
`Noble` scanning starts in [platform.js](https://github.com/vojtamolda/homebridge-bluetooth/blob/master/source/platform.js#L47) inside of the `didFinishLaunching(...)` function. There's no timeout, though. The plugin tells `Noble` to keep scanning until all devices defined in the `config.json` file are found. Scanning is also resumed if any of the devices disconnects.

[2016-11-29 02:12] fYaH-r0ze commented on #2
Ok, but when I send a command to a device - like switch on the lights in homekit, where is the code that fires in homebridge that looks for the device at that point and connects->discover Services -> Discover characteristics -> Write to Char... Based on the behavior, it does not seem to find the device to start the process sometimes (again, still in BLE range, but a bit further)

[2016-11-29 15:21] vojtamolda opened #3 "Output signal strength (RSSI) for discovered devices"
Currently, the plugin only logs the name and address when a new BLE device is discovered. Per discussion in #2 it would be helpful to output the RSSI (signal strength in dB) as well.

![console](https://cloud.githubusercontent.com/assets/8467740/20715453/df4e4c6e-b614-11e6-9d4a-8671dd7487a6.png)

RSSI can be used to tell which peripheral device is closer to the central and also detect possible pro

[2016-11-29 15:22] vojtamolda commented on #2
That's a good point. The plugin should probably output the signal strength (RSSI) when it discovers a new device. I've opened a separate enhancement issue #3 for this.

[2016-11-29 15:33] fYaH-r0ze commented on #2
Yup, but it should also let home kit know that it was unsuccessful in finding/connecting to the device.

My actual issue is with this though, is that for sending the command, home bridge does not seem to spend very long trying to find the device to connect / write to it. I concluded this as I tested with other BLE applications on the same computer - where hombridge does not connect and actually is

[2016-11-29 15:34] fYaH-r0ze commented on #2
I'll be working on this again this weekend, so if you are able to point me to the code I may be able to help track down the code changes that may need to be made for this as well

[2016-12-04 17:59] fYaH-r0ze opened #4 "Multiple event firings due to leaking BLE event listeners on Raspberry Pi 3"
I'm having trouble getting this running on the Pi.

I had modified your code to always convert data to utf8. This works perfectly for my devices and running this plugin on my mac. However, when used on the Pi, I get the following error and I can't seem to figure out why as the utf8 module was installed.

[code]

[2016-12-04 20:31] fYaH-r0ze commented on #4
OK, so did a full refresh of everything. Seems like the node version that shipped with the pi was being used and the upgrade did not work.

Everything seems to have went fine. I had error pop up during the install of noble. BUT it seems to have installed.

I don't seem to have the utf8 issue anymore but it's still not working. Well if I keep deleting the accessory and restarting homebridge in debu

[2016-12-05 20:04] vojtamolda commented on #3
Good to point to get started with this issue is around [line 94](https://github.com/vojtamolda/homebridge-bluetooth/blob/master/source/platform.js#L94) in the `platform.js` file. I think that `nobleAccessory.advertisement` contains the RSSI value, but I'm not 100% sure. It may also be the `nobleAccessory` object itself.

Some of the [Noble examples](https://github.com/sandeepmistry/noble/blob/73a0

[2016-12-05 20:07] vojtamolda commented on #2
Hello @fallenfate1982

I'm a little bit lost in all the issues and comments here. It's probably caused by my chaotic and sporadic development of the plugin, so I apologize for that. Are you still experiencing issues with initialization described in the first comment? Or can I close this issue and the problem lies in something else?

Regarding issue #3 - I added a new comment with some hints on whe

[2016-12-05 20:48] vojtamolda commented on #4
Yeah, _Node.js_ is changing very quickly and most linux distros don't have a version that's anywhere close to recent. It's weird that _npm_ even installed the plugin since [`package.json`](vojtamolda/homebridge-bluetooth/blob/master/package.json) demands _Node.js_ >= 4.3.2 I checked and  _Homebridge_ itself requires the same version. Good thing that you resolved this problem, though!

After compar

[2016-12-05 21:21] fYaH-r0ze commented on #4
Ok Thanks.

Should I try downgrading node though? I'm on the latest -> 7.x... And I think there is an issue with the Bonjour discovery. Loosing wifi and stuff messes it up sometimes and need to restart the server. Not sure if all those little things are a potential problem with the node versions

I actually wrote the HCIconfig line into the rc.local file so it runs on startup (as well as remove th

[2016-12-05 21:47] fYaH-r0ze commented on #2
Yup, I think this is closed. As well I think the issue with the distance may be the plugin maintaining a bluetooth connection with the bridge rather than pure distance. I mentioned this in issue 4 and we can dig into details there on that one, so I'll close this.

[2016-12-05 21:47] #2 closed, assigned to vojtamolda

[2016-12-05 21:48] fYaH-r0ze commented on #3
Ok, I'll have a look at this one this week as well

[2016-12-05 22:06] vojtamolda commented on #2
:+1:

[2016-12-05 22:07] vojtamolda commented on #3
Perfect! Let me know if you get stuck somewhere.

[2016-12-06 01:12] vojtamolda commented on #4
Personally I wouldn't use the 7.x version of _Node_. I prefer the LTS releases. Nor this plugin nor _Homebridge_ need any of the new functionality since 4.x as far as I know.

That being said, there's no specific version to use. I have _Node.js_ 4.5.0 and _Noble_  1.7.0 on my RPi3 and there are no issues whatsoever - i.e. every problem I experienced was caused by a bug in my code 😄 I haven't done

[2016-12-06 02:47] fYaH-r0ze commented on #4
Hmmm Ok. I'll try downgrading as soon as I get a chance this week and will look at the RSSI stuff.

I'm on a RPi3MB with Jessie. You think it could have anything to do with the drivers/BLE hardware? I tried it on 2 different boards (I got like 4 to test with) so I don't think it's a hardware failure but potentially and issue with the chip they used?

[2016-12-06 03:01] vojtamolda commented on #4
Driver problem may be the case here, depending on the kernel version you use. Here's another idea - please, take a look [here](https://github.com/sandeepmistry/noble/issues/242). Then get the server running, start another console and take a look at output of `dmesg` and `hcidump`.

According to the [#242 from noble](https://github.com/sandeepmistry/noble/issues/242) it should look like:
[code]
If

[2016-12-06 03:30] fYaH-r0ze commented on #4
This may sound dumb, but shouldn't Raspbian Jessie have the latest kernel for the Pi?

[2016-12-06 03:34] vojtamolda commented on #4
I don't know what version it ships with (My guess is 4.4.x), but linux distributions typically provide packages for various kernel versions. So you can have more or less whatever version you wish. Running `uname -a` will tell you the exact version.

[2016-12-06 03:39] fYaH-r0ze commented on #4
Hmm good information, thanks. I will dig into this after my meetings tomorrow.

The thread seems to have good information, though I'd assume I installed the latest stuff which should have fixed this SO I don't believe I'm suffering from this (Also when I do get a connection, it's maintained as long as I don't restart or manually disconnect or something). BUT it's worth a try if even to learn a bit

[2016-12-14 15:20] vojtamolda opened #5 "Problem with discovery and connecting of multiple BLE peripherals"
When connecting to multiple BLE peripherals, plugin can sometimes discover only a handful of configured peripherals and then stop scanning.

The issue is timing dependent. Sometimes all BLE devices can be discovered simultaneously and at once. Then everything works as expected. However, if some devices take longer to discover (typically those with weaker signal) these poor things are never discove

[2016-12-14 16:44] #3 closed, assigned to vojtamolda

[2016-12-14 16:44] #5 closed, assigned to vojtamolda

[2016-12-18 15:47] CloudMass opened #6 "Example sketches for Lightblue Bean?"
Hi There,

I am trying to run it on Lightblue Bean but I get the error ble_protocol.h: No such file or directory after I have imported the CurieBLE and CurieIMU libraries.

[code]

You have any idea what could be wrong?

Thanks in advance.

[2016-12-18 16:21] vojtamolda commented on #6
Hello @TechFactory,

Thanks for posting the question and using the plugin. The problem here is that most of the examples provide sketches only for [_Arduino 101_](https://www.arduino.cc/en/Main/ArduinoBoard101), which is a different board than you have. Some examples like the [`humidity/`](https://github.com/vojtamolda/homebridge-bluetooth/tree/master/examples/humidity) and [`thermometer/`](https:

[2016-12-18 21:31] CloudMass commented on #6
Hi @vojtamolda,

Thanks for the help.

I've made this so far. It's shows up in the home app on the iPhone but the temperature says 0 no matter what I do. Any idea?

[code]

Thanks again.

[2016-12-18 22:12] vojtamolda commented on #6
I don't have a _Bean_ to test, but I think you're puting an `int` value in place of a `float` value. HomeKit requires the `temperatureCharacteristic` to be of type `BLEFloatCharacteristic `. Try changing your code to something like this:

[code]

The conversion is probably happening implicitly anyway, but getting the values to match is what matters here. You're seeing 0, because it's the default u

[2016-12-19 14:57] vojtamolda commented on #6
One more thing -  Maybe I'm wrong, since I'm not very familiar with _Bean_'s hardware, but I don't think it is currently supported by the `BLEPeripheral` library. Check the list of supported hardware [here](https://github.com/sandeepmistry/arduino-BLEPeripheral).

_Bean_ is in fact an _ATmega328p_ processor and the [_LBM313_](https://punchthrough.com/docs/doku.php?id=lbm313) module with battery. T

[2016-12-25 02:22] fYaH-r0ze commented on #4
OK, Finally got some spare time to tinker with this stuff today.

Verified that is all works well on the mac. You can switch off the hombridge server and the device in random order and things still work well etc.

HOWEVER on the raspberry, you will randomly get it working with the device. It will work fine until the devices get disconnected and reconnects. At that point things just don't work righ

[2016-12-25 03:52] fYaH-r0ze commented on #4
Also, here are some more dumps.

There's a dump of homebridge when the server starts and the connection to the BLE device does not work. Basically it says Updating for a while in the home app and then says no response (startupincorrect.txt)

There's a dump of Homebridge when the server starts and the link with the Bluetooth device is successful and seems to work fine until the link breaks

There's

[2016-12-25 16:31] fYaH-r0ze commented on #4
OK. So found something interesting here. Have no idea if this can account for the problem.

In the startupIncorrect.txt file I'm noticing that 3 attempts to connect to the device were made after it was discovered. Only the last attempt was successful - which is weird. BUT when the last one is successful, it seems that the code then connects to the service and the characteristics 3 times each! I be

[2016-12-25 17:01] fYaH-r0ze commented on #4
ALSO you will notice for the above, in the server run that does not work you will notice that the connection is actually made, then disconnected for some reason until the third try.

Here's some stuff I'm noticing about the actual read call for the device.

See the readout that I'm seeing below. Seems like in the server that didn't work the read is never completing? It's not saying why, but I noti

[2016-12-27 03:46] fYaH-r0ze commented on #4
OK, figured out the issue. But it seems like a weird one so I don't know if it was done for a reason.

Accessory.js line 119 has `this.nobleAccessory = null;` BUT a call to `this.nobleAccessory.removeAllListeners();` seems to be needed before this.

Once this is done my pi works flawless now. Let me know if this is really a fix or if it would break something else or some other version?

Submitting

[2016-12-27 04:02] fYaH-r0ze commented on #4
I'm not sure the null does anything either? Also, I still don't know when it connects to the device a few times and disconnects in the first place. On the mac, it connects one time so this is not an issue there.

I'm closing this for now, reopen if you do not think this works as a fix please

[2017-01-14 00:51] fYaH-r0ze commented on #4
Why dod you reopen?

[2017-01-14 06:00] vojtamolda commented on #4
Sorry for the confusion, @fallenfate1982. I didn't notice your last comment 🙄

I just got back from vacation and reopened this as a reminder for myself to not forget to merge your [fix](https://github.com/fallenfate1982/homebridge-bluetooth/commit/4945f3c0b885a5bb786ee5999dced9ddb1fc65d6) into the `master` branch here.

[2017-01-14 13:24] fYaH-r0ze commented on #4
Lol ok no problem, thought I missed something.

[2017-01-14 17:21] #4 closed, assigned to fallenfate1982

[2017-01-14 18:32] #6 closed, assigned to nobody

[2017-03-01 17:51] ddilbaz opened #8 "Example for Open Sesame garage door opener"
Hi, could you give an example of a garage door with Bluetooth?

[2017-03-01 20:26] vojtamolda commented on #8
Hello @ddilbaz, I'd love to include a garage door example, but I currently don't have a garage :smile:

Do you have a particular hardware you want to use in mind? Or do you mean just a general class of devices from [`HomeKitType.js`](https://github.com/KhaosT/HAP-NodeJS/blob/2ea9d761d9bd7593dd1949fec621ab085af5e567/lib/gen/HomeKitTypes.js#L2708)?

[2017-03-01 22:07] ddilbaz commented on #8
Hi, Yes, I am using the "garage door-Open Sesame" product in the garage door. I use the product with the Applestore application. But it is not used with Siri. Homebridge- I've been working with your Bluetooth app, but I have not been successful. I need help especially in matters such as service, name. I tested the Bluetooth application with the Noble application. But I could not create Config.json

[2017-03-05 01:19] vojtamolda commented on #8
I'm afraid I won't be able to help very much here. Try talking to the "Open Sesame" people if they can provide you documentation about the _BLE_ service and characteristic UUIDs.

You can also try a general _BLE_ app like [LightBlue Explorer](https://itunes.apple.com/us/app/lightblue-explorer-bluetooth-low-energy/id557428110?mt=8) that can read and write to any _BLE_ characteristic.

[2017-03-05 13:36] ddilbaz commented on #8
Hello, I took the screenshot and I send it to you. Respects

![image](https://cloud.githubusercontent.com/assets/22238131/23589171/3056b288-01d1-11e7-98b9-34fc16d0a7a5.jpeg)
![image](https://cloud.githubusercontent.com/assets/22238131/23589172/307afc6a-01d1-11e7-9a3a-b06b6da1e66b.jpeg)
![image](https://cloud.githubusercontent.com/assets/22238131/23589173/30929b2c-01d1-11e7-8988-ac6eb80b7ac8.jpeg)

[2017-03-07 15:20] vojtamolda commented on #8
Did you try playing around with different services and charactersitics? Were you able to send a command from the app to one of the characteristics, that would open and close the garage door? This would be the characteristic that you'd need to setup in `config.json` to make it work with _HomeKit_.

[2017-03-13 16:00] keith721 opened #9 "GarageMate Bluetooth accessory - How to configure?"
I have a GarageMate (https://www.bluemate.com/) Bluetooth device that triggers my garage door opener, and I've been able to successfully pair it with my Raspberry Pi running **homebridge**.  Using the **gatttool** utility, I was able to obtain the primary services and characteristics of the GarageMate device.  Now, I'm attempting to update my config.json configuration file with the proper informat

[2017-03-13 16:43] vojtamolda commented on #9
Hello @keith721,

Your `config.json` is almost correct. All the `"type"` fields must match a _HomeKit_ service/characteristic from [`HomeKitTypes.js`](https://github.com/KhaosT/HAP-NodeJS/blob/master/lib/gen/HomeKitTypes.js). This `config.json` will consider the device to be a _HomeKit_ switch:

[code]

You can find more details about these by reading the defintion of [`Service.Switch`](https://gi

[2017-03-13 17:16] keith721 commented on #9
After reviewing [Service.Switch](https://github.com/KhaosT/HAP-NodeJS/blob/master/lib/gen/HomeKitTypes.js#L3120) and [Characteristic.On](https://github.com/KhaosT/HAP-NodeJS/blob/master/lib/gen/HomeKitTypes.js#L1235), it appears the GarageMate device should be configured as [Service.StatelessProgrammableSwitch](https://github.com/KhaosT/HAP-NodeJS/blob/master/lib/gen/HomeKitTypes.js#L3099) instead

[2017-03-13 18:08] vojtamolda commented on #9
Yeah. You're right. The `StatelessProgrammableSwitch` seems like a better choice. To be honest, there's so many services in _HomeKit_ I didn't even know this one existed... :smile:

Good luck and have fun in the evening!

[2017-03-13 19:03] keith721 commented on #9
Thank you SO VERY MUCH for your help today.  I sincerely appreciate it.

If I can get the existing GarageMate device working tonight, it's because of your assistance.
If not, then I'll program an Arduino sketch using your very generous examples to get started.
Either way, your assistance has been extremely inspirational.

Thanks!!

[2017-03-13 20:39] vojtamolda commented on #9
:blush:

[2017-03-13 23:09] keith721 commented on #9
I got it configured and the config parsed and loaded successfully, but it's "not supported" in the Home app on my iPhone. :(

[code]

Here's the relevant portion of my config.json:

[code]

[2017-03-14 13:27] vojtamolda commented on #9
First, _HomeKit_ is still being actively developed on all fronts and you're right that the current _iOS_ (10.2) doesn't support the `StatelessProgrammableSwitch` service. However, according to [this issue](https://github.com/ebaauw/homebridge-hue/issues/54) the support will be added in 10.3. And there's not much else one can do about this than to wait for Apple.

Second, even if _iOS_ would suppor

[2017-03-14 13:51] keith721 commented on #9
I also noticed the GarageMate did not provide the [Device Information service 0x180A](https://www.bluetooth.com/specifications/gatt/viewer?attributeXmlFile=org.bluetooth.service.device_information.xml) or its characteristics of [Manufacturer Name 0x2A29](https://www.bluetooth.com/specifications/gatt/viewer?attributeXmlFile=org.bluetooth.characteristic.manufacturer_name_string.xml), [Model Number 0

[2017-03-14 14:38] vojtamolda commented on #9
Those services are not mandatory and the plugin can work fine without them. But anyway, I'll be happy to merge a pull request with a new example if you want to make it.

[2017-03-14 23:43] keith721 commented on #9
It will be some weeks before my parts arrive.  When I've had some opportunity to test the script and work out any bugs, I'll be happy to submit it here.  Meanwhile, I believe I can close this question.  Thanks again for your generous assistance!

[2017-03-14 23:43] #9 closed, assigned to nobody

[2017-04-17 11:06] kapps7 opened #10 "Usage case Siri remote"
Hi,

Could this be used to trigger the Siri remote to execute buttons ?

[2017-04-17 12:48] vojtamolda commented on #10
Hello @kapps7,

Yes, you can use the Siri Remote to control any of the [example devices](https://github.com/vojtamolda/homebridge-bluetooth/tree/master/examples) in this repository.  Each of them "pretends" to be a standard _HomeKit_ accessory behind a _Homebridge_ server that forwards the BLE requests and acts as a bridge.

[2017-04-18 10:51] kapps7 commented on #10
I see thanks. I actually wanted to be able to use the Siri remote to simply control the Apple TV so I can sequence a series of buttons via HomeKit

[2017-04-18 14:37] #10 closed, assigned to nobody

[2017-04-20 17:52] Pltnorwich opened #11 "How to configure ZWave lock?"
Hi,

I've been hoping to connect my lock via bluetooth (which it currently uses on my phone) instead of zwave - as this seemed to drain the battery really quick.

installed _homebridge_ and it started ok, thermostat loaded........
installed _homebridge-bluetooth_

When i went to start home bridge it failed with the following:
[code]

1) How can i get home bridge started (maybe disabling bluetooth

[2017-04-20 18:09] vojtamolda commented on #11
Hello Phil,

Thanks for your question and for your interest in the plugin.

1) I think the reason why _Homebridge_ won't start is that you didn't update your `~/.homebridge/config.json` configuration file. See [the example](https://github.com/vojtamolda/homebridge-bluetooth/blob/master/config.json) for inspiration.

2) I'm assuming you're using SmartThings hub to control your _ZWave_ lock. If that

[2017-04-20 18:17] Pltnorwich commented on #11
Hi Vojtamolda,

Im using a raspberry pi, with bluetooth dongle an UZB 1 stick, i was using the zway-homebridge plugin, but found the lock drain 30% in a few weeks, using bluetooth its lasted about 18months. So I would like to use the bluetooth of the lock to talk to the raspberry pi, then home bridge.

Im unsure of what data I would need in the json file for a lock.

Thanks

[2017-04-20 18:29] vojtamolda commented on #11
You'd need BLE service and characteristics UUIDs of the lock. You can get these, for instance, by using the [LightBlue Explorer](https://itunes.apple.com/us/app/lightblue-explorer-bluetooth-low-energy/id557428110?mt=8) iOS app.

I'm not sure what communication protocol does the lock use, but it needs to match the _HomeKit_ `LockMechanism` service (full description is [here](https://github.com/Khao

[2017-04-20 18:34] Pltnorwich commented on #11
Ahhhh thats really helpful thank you

I will get the app and have a look, I may ask more questions later.

Ive been googling bluetooth lock json files to see what i could find.

Much appreciated

[2017-04-22 11:35] Pltnorwich commented on #11
Hi,
This is my json file - it has no errors on checker; I want to use the bluetooth of the lock and will disable zwave in the server
[code]
I have bluetooth driver installed and is running but get the following error when running homebridge;
[code]

I thought homebridge would just use the info provided in the json file (lock address) to then display it.

[2017-04-22 12:41] Pltnorwich commented on #11
Ive ran it as sudo and get less errors (ran in debug mode before).
[code]
Surely with the homebridge-bluetooth I don't need to add a plugin?

[2017-04-25 13:34] vojtamolda commented on #11
I think the problem above is caused by an error in the `config.json` file not related to this plugin. _Homebridge_ couldn't find the `TADO` plugin that would be able to access an accessory defined in the config file.

Besides the problem above, I think you can't run both `homebridge-zwave` and `homebridge-bluetooth` plugin at the same time. Both require access to the BLE hardware on the _Raspberry

[2017-04-25 13:42] Pltnorwich commented on #11
Hi vojtamolda,
Without the Bluetooth plugin homebridge works fine including tado.
Maybe you are correct that zwave and Bluetooth on homebridge can not run, how can I disable homebridge-zwave?
The zway server was using the zway stick (separate from Bluetooth) but I can give it a go without zwave if you know how I can disable zway server starting and homebridge-zway with uninstalling it all....?

Th

[2017-04-25 14:14] vojtamolda commented on #11
Sorry. No idea. I don't use zway.

[2017-04-25 14:22] Pltnorwich commented on #11
Ok, maybe I should try a new install of just homebridge the  Bluetooth plugin and report back.

[2017-05-31 21:21] bluephlame opened #12 "Plugin Modification help"
I am after advice on how to modify this Bluetooth-plugin such that it will reach to the BLE door opener that I have.

I have the following code that will toggle the door. But I am unsure as to what the best location and architecture is to put into the homebridge plugin.

Thanks, I am new to NodeJS and homebridge.

[code]

[2017-06-01 12:56] vojtamolda commented on #12
Hello @bluephlame,

Thanks for opening the issue here. I went through your code and I think the best solution would be to write your own plugin for [_Homebridge_](https://github.com/nfarina/homebridge).

Reason is that this plugin is a relatively simple and straightforward mapping from _HomeKit_ to _BLE_. If the control messages between the two don't match and need some translation logic in betwee

[2017-07-13 13:59] #11 closed, assigned to nobody

[2017-07-13 13:59] #12 closed, assigned to nobody

[2017-07-13 14:00] #8 closed, assigned to nobody

[2017-09-05 22:22] weeteniz opened #13 "Infinitely stuck activity spinner in the Home app on iOS"
Hi,

I'm trying to develop my own window covering BLE peripheral/accessory. So far I have:

- Set up Homebridge on Raspberry Pi 2 with a bluetooth dongle. Homebridge loads fine and finds the BLEPeripheral (in this case RedBear Blend Micro with Nordic nRF8001)

Here's the `config.json`:
[code]

This is what happens when I launch Homebridge and start interacting with my iPhone:

![screen shot 2017-0

[2017-09-06 13:33] vojtamolda commented on #13
Hello @weeteniz,

What you're doing seems perfectly correct to me. In fact my original version of the [lock example C code](https://github.com/vojtamolda/homebridge-bluetooth/blob/master/examples/lock/arduino101/arduino101.ino) example did it the very same thing as you and was running into the same issue - infinite spinner in the _Home_ app on _iOS_ waiting for the operation to complete.

The way

[2017-09-06 14:15] vojtamolda commented on #13
Hello @weeteniz,

What you're doing seems perfectly correct at the first sight. In fact, my original version of the [lock example](https://github.com/vojtamolda/homebridge-bluetooth/tree/master/examples/lock) handled the `BLEPeripheral` communication the very same way (i.e. during event handlers) and of course I was running into the very same issue - infinite spinner in the _Home_ app on _iOS_ wai

[2017-09-06 20:07] weeteniz commented on #13
Thanks for your suggestion. I tried it but I'm still not getting any luck. I've reintroduced the PositionState characteristic that the WindowCovering service uses as I thought that might help but it made no difference.

Here's my updated code based on your suggestion (if I understood it correctly!):

[code]

[2017-09-07 16:22] vojtamolda commented on #13
That's very strange. You got the idea right and I'm puzzled why this doesn't work. I hope to find some time to try your code myself over the next weekend. I'll get back to you.

[2017-09-07 17:13] weeteniz commented on #13
Thanks. I've done a bit more experimenting yesterday. I had another look at BLEPeripheral documentation and found the following methods for characteristics:

`bool setValue(const char* value);`

[code]

I decided to rewrite my code to capture the results of characteristic.setValue() and characteristic.canNotify() methods. The relevant bit of the code now looks like this:

[code]

This has made abs

[2017-09-10 04:13] vojtamolda commented on #13
Hello @weeteniz,

I tested your `config.json` on my _Raspberry Pi 3_ _Homebridge_ server and your sketch on my _Arduino 101_. The result is that everything performs flawlessly. Your first sketch posted here didn't work, but the second one is sending notifications and I don't get any stuck spinners. The position of the blinds is immediately reflected back to the _Home_ app.

[This](https://github.c

[2017-09-11 07:32] weeteniz commented on #13
Thank you so much for trying the code and reporting back the results. This has saved me countless hours of banging my head against the wall and going down the wrong path. It does look like there’s an issue with the interaction between the controller and the BLEPeripheral library. I haven’t received a response on the issue I posted there yet but I’ll add the results of your posts there as they are

[2017-09-11 15:48] vojtamolda commented on #13
You're welcome and good luck with the debugging! This looks like a really nasty bug 🐛.

[2017-09-11 15:48] #13 closed, assigned to vojtamolda

[2017-12-31 20:01] theo-69 opened #14 "Use with iPhone Bluetooth presence detection"
Is it somehow possible to connect my iPhone Bluetooth as Device.
The Idee the homebridge sees when I am home and I can control light or alarm system!

[2017-12-31 22:31] vojtamolda commented on #14
Of course you can connect. iPhone controls the entire HomeKit ecosystem and you can setup "Automations" that can get triggered when you get home for instance. See [the official Apple webpage](https://www.apple.com/ios/home/) for more details.

[2017-12-31 22:31] #14 closed, assigned to nobody

[2018-01-05 17:50] theo-69 commented on #14
I think you misunderstood me, I would like to see if my iPhone is presence or not. Like a presence detection.

[2018-01-05 17:52] theo-69 opened #15 "iPhone presence detection"
Is it possible to use plugin for presence detection of my iPhones? And if yes, how?

[2018-01-10 20:24] theo-69 commented on #15
anybody?

[2018-02-19 21:23] #15 closed, assigned to nobody

[2018-07-22 09:00] Jonczu opened #17 "Question about adding devices that don’t match HAP"
Hi
Not sure if I’m asking in the right place I’m very new to all this, we are talking complete noob that has ideas and wants to make them work. Ok that aside this plugin is fantastic and makes connecting to a BLE device a breeze, my question is if it would be possible to add support for adding devices that don’t communicate using HAP (reverse engineered devices). Is it possible to write a small sc

[2018-09-09 07:14] GhostViper396 opened #18 "Arduino UNO"
Hey

Anyone ever got this working with UNO and hm-10 dongle?

Got any example code?

Regards

Matt

[2018-09-10 15:27] vojtamolda commented on #18
Hello Matt,

Yes, _homebridge-bluetooth_ works on the _UNO_. The list of supported devices is a bit further down the [FAQ](https://github.com/vojtamolda/homebridge-bluetooth#on-what-devices-was-this-plugin-tested) section of the `readme.md` file.

Regarding the dongle - I can't be much of help there, because I've tested only on _macOS_ or _Linux Raspberry Pi 3_ that have the _BLE 4_ dongles built-

[2018-09-10 15:42] vojtamolda commented on #17
Hello Jon,

From your description, I think it may be possible to add some conversion functionality to this plugin. The _homebridge_ `config.json` file can contain a user defined conversion/translation like offset and scaling for each characteristic.

Good place to start hacking and at least get your device somehow working is either `set(...)` or `toBuffer(...)` method of the `BluetoothCharacterist

[2018-09-24 18:18] Kepete opened #19 "Would it work with August Smart Lock?"
So, the August SmartLock Pro has homekit compatibility out of the box. But is is really bulky and doesn't fit my door, there just isn't enough room to fit.
August Smart Lock (regular one, the smaller size one, the cheaper one) https://store.august.com/products/august-smart-lock-3rd-generation will fit but it doesn't have Homekit compatibility!

Would this plugin be able to communicate with the Sma

[2018-09-24 19:00] vojtamolda commented on #19
Hello @Kepete,

Unfortunately no. At least not without significant hacking and firmware reflashing on the lock side.

But you can build your own lock by using virtually any electronic lock hardware and an Arduino board. Here's mine: [`examples/lock`](https://github.com/vojtamolda/homebridge-bluetooth/tree/master/examples/lock). It's been working like a charm for the past ~2 years.

[2018-10-02 11:00] eabakker commented on #19
Is this general for all locks? Looking at the Danalock v3 Bluetooth and add it to Homekit with your plugin, instead of getting the Homekit version, so I can use some features not available with the Homekit version. Do you know if this lock works with your plugin?

[2018-10-02 12:57] vojtamolda commented on #19
Hello @eabakker,
I don't think the lock works. This plugin is mostly meant for DIY locks where the software running inside of the lock processor can be modified.

[2018-10-11 03:09] #18 closed, assigned to vojtamolda

[2018-10-26 07:10] QHose opened #20 "let homebridge control a bluetooth projector, streamer?"
hi,

Is it somehow possible to let homebridge turn of my (xiaomi mi laser projecter with mi tv) streamer via a `bluetooth turn off` command?

I see a lot of questions on the internet on how to use a bluetooth keyboard with a PI, but I want my PI to send a turn off/on, next etc command to media devices.

thanks a lot!

[2019-02-07 09:29] Pythonaire opened #21 "Characteristic doesn't receive value"
I use ESP32, got BLE working correctly and send periodically Notification Values.

On a mobile with BLE Scanner: The sensor is seen, periodically NOTIFY update values are received.
On the raspberry: Sensor is connected, Service and Characteristic is "connected".
In the Homekit (also tested in the EVE App): Sensor is seen, correct service and characteristic. I can start "identify" the sensor with p

[2019-02-07 13:48] vojtamolda commented on #21
Hello @Pythonaire, do you have the characteristic UUIDs correct in `config.json`?

[2019-02-07 14:47] Pythonaire commented on #21
Yes, all things seems to be ok. (I use the same UUID's as you).  If I made an identity check on the EVE app back to the sensor, it works. No complaining messages in the debug log. I see, the Homebridge itself set the "event value" from true to false after some seconds. I thinks because of nothing happened. I pull BLE notify values from the sensor every 5 seconds ... nothing. No error messages, no

[2019-02-07 15:10] #19 closed, assigned to vojtamolda

[2019-02-07 15:11] #20 closed, assigned to nobody

[2019-02-08 10:40] Pythonaire commented on #21
using gatttool on the raspberry to check:
the gatttool identified the characteristic by handler 2a for my characteristic UUID, the PROPERTY_NOTIFY flag  2b. By "char-write-req 2b 100" (100 means: switch on Notify) I can receive value updates. I think, the noble or the plugin should do the same, to receive Notify value.

[2019-02-09 08:57] Pythonaire commented on #21
Again:
refresh the Homebridge by deleting persist and accessories.
Then: got value one time.
Later: homebridge Processing characteristic set: [{"aid":2,"iid":10,"ev":false}] and "Unregistering Characteristic "Current Relative Humidity" for events"

[2019-02-09 20:16] Pythonaire commented on #21
Maybe a step further:
it seems, noble is a bit unstable. Got some irritating situations, responses while testing. At least, I used PROPERTY_READ and PROPERTY_NOTIFY to indicate value changes on the sensor. But nothing happens. Then, I added PROPERTY_INDICATE as BLECharacteristic and got values each time tapping the home app.   Unfortunately, response value  is 0... that's not right.

[2019-02-10 02:33] vojtamolda commented on #21
Cool, @Pythonaire. Thanks for the updates. It looks like you're progressing. Honestly I'm not sure how to help you other than to wish you to have fun and good luck!

[2019-02-10 11:33] Pythonaire commented on #21
got Homebridge message, that "updateReachability" is no longer supported by apple Homekit (contained in accessory.js). Next inject log messages (this.log.info(this.prefix, "blah, blah"), to see the flow of received notification values ... no luck. No error, no GET messages.
The only progress I see in the log is **"Accessory [Homebridge] Got Characteristic "Current Relative Humidity" value: 0"**. T

[2019-02-10 21:18] Pythonaire commented on #21
sorry @vojtamolda, that I'm rude...I'm not really familiar with this.
... thinking about the "BluetoothCharacteristic.prototype.notify" in characteristic.js. I read, noble needs to be pointed to a notify event with "subscribe", mentioned above in the permission function. This is made on the sensor side with an descriptor. The sensor act as an BLE Server and send notify periodically. To read descri

[2019-02-12 11:20] Pythonaire commented on #21
ok, maybe for later reading.

Found it: ....
All board you describe, using BLECurie for BLE communication. I use Sparkfun ESP32 Thing boards, they are smaller, and battery powered, but using other BLE Libraries. Sending the data via "(char*)&value, sizeof(value)"  solved the problems.

[2019-02-24 17:58] Pythonaire opened #22 "again didn't receive values"
Now, a step further ... I connect my sensor from iPhone BLE Scanner. Reading the values, the App sends "0C4", (log on my sensor) the sensor gives back the values, all things ok, so fare.
On Raspberry:
The log on the raspberry tell me, Service and Characteristic on the sensor are connected, Homebridge  events to get the characteristic too. if I push a request on the homekit app on my mobile, I shou

[2019-02-27 09:19] Pythonaire commented on #22
Found it ...
UpdateReachability no longer works on Homebridge,so call values with HomebridgeCharacteristic.on("get" .... leads into nothing. Use updateValue and modify the noble.read prototype function gives me values.

[2019-02-27 09:19] #22 closed, assigned to nobody

[2019-02-27 13:32] vojtamolda commented on #21
I'm glad you found it. Is it a bug related to #22 that should be fixed? Do you want to do a PR?

[2019-02-27 21:13] Pythonaire commented on #21
Yes it's related to #22. I use BLE libraries [https://github.com/nkolban/ESP32_BLE_Arduino](url), for my ESP32 Chip to build up my own sensors and try to bind these to the homekit over BLE.
Unfortunately, I 'm not really familiar with JavaScript and reverse engineering make It not better ,many pitfalls for me... So I though, the ESP BLE Libraries are the problem ... it's seems to be not.
Now, I fo

[2019-02-27 22:14] Pythonaire commented on #21
![image](https://user-images.githubusercontent.com/46537110/53526688-36a1b580-3ae5-11e9-8a5b-45a2c0f8d9d6.png)
--> step into the "BluetoothCharacteristic.prototype.connect" and found "PERMS.READ" Characteristic --> should call "this.get.bind(this))", but never reached.

[2019-03-02 18:18] 400HPMustang opened #23 "How to control electric heater?"
I have an electric heater that I would like to control, the heater uses a bluetooth app for remote control. Is it possible to use this plugin to do that?

I need on/off, heater on/off, and temperature up/down commands

[2019-03-03 14:19] Pythonaire commented on #21
Thx, yes its related to #22. Sorry for my impatience.
Now it seems to be solved for me. I tried different methods to hand over data to the node.js buffer function. (the easiest and I think most stable is "std:string"). BUT using "sizeof(data)" with std::string leads into node.js crashes. Since I set fixed data length (ex. float with 4, instead of sizeof(float value)), it works.

[2019-03-26 07:31] Pythonaire commented on #21
Now, I have running two BLE devices (ESP32) with any services. Works great. Made some enhancements and now trying to implement FakeGatoHistory.
Thx a lot for your plugin!

[2019-03-26 12:27] vojtamolda commented on #21
Perfect. I'm glad it works and enjoy the fruit of your hard work and resilience!

[2019-03-26 12:27] #21 closed, assigned to Pythonaire

[2019-04-13 05:07] bencharlesrhys commented on #20
You can connect a device to the projector as a bluetooth keyboard. For instance I've achieved this using the logitech harmony hub and connected the projector as a "Mac" computer profile. I've then found using the sleep keyboard button it will activate the power off, restart window on the Mi Laser Projector - then you need an 'enter' command to turn it off.

[2019-06-03 14:46] JangoBritt opened #24 "Bluetooth Shower controls"
I have a Mira Mode dual-head shower that I can control via bluetooth, from my phone (preheat, set/view temp, valve select, on/off, etc).

Could this plugin be used to connect that?

How do I decode the data/encode the commands to send to the BLE device?

Can those commands be sniffed when I perform them from my phone?

[2019-06-29 15:58] samsonrosen opened #25 "NOT AN ISSUE: After Market USB Bluetooth Adapter Mac OS"
Hi!

Just wanted to share that I am running a Macbook Pro Early 2011 which does not support BLE.

On a whim I bought this from Amazon which works perfectly with my Mac. I did remove the AirPort Card from the MacBook Pro (it's on ethernet anyway) to force it to use this device by default but it is working very well with this plugin. Thanks again!

https://www.amazon.co.uk/gp/product/B00LSGUBLI/ref=

[2019-06-30 20:57] vojtamolda commented on #25
Thanks, @samsonrosen ! 😊

[2020-02-14 22:15] phenomeus opened #28 "Ranger/ Extender behaviour possible?"
hi there,

is your plugin able to act like an extender or ranger for BLE devices like "eve thermostat"?

this plugin "https://github.com/grover/homebridge-ranger" does the trick but its not supported anymore and only hacked together…

maybe you could have a look or two? ;) thanks in advance

[2020-02-14 23:20] #25 closed, assigned to nobody

[2020-02-14 23:22] vojtamolda commented on #28
Hello @phenomeus,

I'm afraid I don't have the time to take a look at the moment. You'll probably have to "hack" it yourself 😉

Cheers,

  Vojta

[2020-02-14 23:22] #28 closed, assigned to nobody

[2020-02-14 23:23] vojtamolda commented on #24
Hello @phenomeus,

I'm afraid I don't have the time to take a look at the moment. You'll probably have to figure it yourself if it's still relevant 😉

Cheers,

  Vojta

[2020-02-14 23:23] #24 closed, assigned to nobody

[2020-02-14 23:23] vojtamolda commented on #23
Hello @phenomeus,

I'm afraid I don't have the time to take a look at the moment. You'll probably have to figure it yourself if it's still relevant 😉

Cheers,

  Vojta

[2020-02-14 23:23] #23 closed, assigned to nobody

[2020-03-26 12:09] sweetlime05 opened #29 "Problem restarting Homebridge"
If you restart the homebridge after installing the plug-in, the same content is repeated in the log and will not run.

[3/26/2020, 8:32:20 PM] [HB Supervisor] Homebridge Process Ended. Code: 1, Signal: null
[3/26/2020, 8:32:25 PM] [HB Supervisor] Restarting Homebridge...
[3/26/2020, 8:32:25 PM] [HB Supervisor] Starting Homebridge with extra flags: -I
[3/26/2020, 8:32:25 PM] [HB Supervisor] Started

[2020-04-13 18:58] roboterm opened #30 "Incompatibility to NodeJS > 9.9.0"
I tried to upgrade my NodeJS from 9.9.0 to 12.16.2 but the rebuild after fails due to the node_module bluetooth-hci-socket in the homebridge-bluetooth folder.
There is a workaround to accomplish the upgrade for the default /usr/local/lib/node_modules/bluetooth-hci-socket. Maybe this is adaptable to the bluetooth-hci-socket of the homebridge-bluetooth plugin?

[2020-04-27 12:18] roboterm commented on #30
I don't think that this plugin is supported anymore.
I removed the plugin from my homebridge installation.

Not my issue anymore...

[2020-04-27 12:18] #30 closed, assigned to nobody

[2020-09-18 03:31] Alex565rf opened #31 "Tv commands"
Hey,
Could i command my bluetooth tv with it ?

Thank you !

[2020-09-18 22:37] vojtamolda commented on #31
Hello Alex,

I have no way of knowing whether your TV will work. You have to talk customer support of the manufacturer.

Cheers,

Vojta

[2020-09-20 01:17] #31 closed, assigned to nobody

[2020-10-07 12:19] w00dst0ck opened #32 "How to add devices with auth"
I wan't to use a tethercell with this plugin. But this BT device needs authorization with passcode 00000000.

Any advice on how to create a working config?

Details about the Device could be found here.
https://github.com/sandeepmistry/node-tethercell/blob/master/tethercell.txt

Best regards
Kai

[2020-10-08 20:44] vojtamolda commented on #32
Hello Kai,

I'd love to investigate how to get your device working but unfortunately I don't have time. The source code is available so hopefully a combination of reading and googling will get you on the right track ;)

  Sorry for not being too helpful and good luck!

   Vojta

[2020-10-08 20:45] vojtamolda commented on #29
Hello @sweetlime05,

I'd love to investigate this but unfortunately I don't have time. The source code is available so hopefully a combination of reading and googling will get you on the right track ;)

Sorry for my late response and for not being too helpful. Good luck!

Vojta

[2020-10-24 21:13] simplenotezy opened #33 "Adding a custom BLE device"
I'd like to add a custom thermostat (Danfoss Eco 2) that I currently use through an iOS app. I was wondering if there was somebody who could push me in the right direction towards my goal, I'm pretty new to Homebridge and IoT.

I guess I need to somehow intercept my iOS app's communication with the thermostat when I send commands, and then try to replicate this somehow in Homebridge. Or is there a

[2020-10-25 17:35] simplenotezy opened #34 "Install fails on Homebridge on Raspberry Pi3+"
Upon running `npm install -g noble` I get below error:

[code]

If I run it with `sudo` (which I believe I am not supposed to, as my node_modules is owned by my current user), I get this error:

[code]

Any ideas on how I can proceed?

[2020-11-01 19:35] Vartkat opened #35 "Schlage bluetooth lock question"
Hello,

I'm sure I'm missing something or this is not the right place to ask, nevertheless...

I Have a Raspberry Pi 4 running Home Assistant and a Schlage Sense lock (i.e. bluetooth).
- The Lock is HomeKit compliant,
- The Raspberry has bluetooth builtin...
but
- Home Assistant doesn't know how to deal with a bluetooth lock
- Home Assistant can deal with a Homekit lock,

So you got my question :

[2020-11-02 01:25] vojtamolda commented on #35
Hello @Vartkat,

Thanks for posting the question but this repository isn't what you're looking for. Honestly, I'm not sure where to point you. If the lock already works with HomeKit then this repository can't help you with anything.

The code here is meant as a tool for people who design their own electronic device. For example a DIY version of the Schlage lock. You can check out the examples ther

[2020-11-02 10:00] Vartkat commented on #35
@vojtamolda . Thank you very much

[2020-11-02 10:00] #35 closed, assigned to nobody

[2021-11-15 16:41] Stetocasa commented on #29
same issue. Copy and paste

[2022-01-09 17:45] gdavids57 commented on #34
This plugin relies on the noble utility to implement a BLE Central device.  The bluetooth-hci-socket version relied upon by the noble package does not work with nodejs versions newer than v8.  The abandonware version of bluetooth-hci-socket will build on my RPi using nodejs v14. (see https://www.npmjs.com/package/@abandonware/bluetooth-hci-socket).  I'm still working to get noble to use the altern

[2022-06-15 07:07] uswong commented on #34
Any solution to this issue yet?

I have successfully installed home bridge-bluetooth but homebridge log shows the following error:

<img width="518" alt="Screen Shot 2022-06-15 at 1 31 24 pm" src="https://user-images.githubusercontent.com/96530237/173764315-a1123de2-2636-4611-b762-923bcc25d9d2.png">

Any help is much appreciated.

[2022-06-15 13:15] uswong commented on #34
The solution suggested by @gdavids57 actually works for me.   Please do not forget to change all instances of `require('bluetooth-hci-socket')` to `require('@abandonware/bluetooth-hci-socket')`.

Moreover, the chalk version 5 does not work for this plugin as the moment.  So what you need to do is to downgrade chalk version to version 4. What I have done is as follow:

sudo npm uninstall chalk
sudo

[2022-06-15 13:58] uswong commented on #34
I have a Bluetooth version of Xiaomi Power Strip 2 (model: qmi.plug.pvs3).  It connected ok, but no service discovered.

This is my config file:

     {
         "platform": "Bluetooth",
         "accessories": [
             {
                 "name": "Xiaomi Outlet 2",
                 "address": "68:AB:BC:07:50:AD",
                 "services": [
                     {

[2022-09-01 16:38] kard8 commented on #34
Hi @uswong.

Can you please tell me how to find the instances as mentioned in your reply

[2022-09-02 01:18] uswong commented on #34
`cd` to your homebridge-bluetooth plugin directory and try using the following command:
`grep -r bluetooth-hci-socket *|grep require`